:root {
    --bg-gold-hover: #e7d56b;
    --bg-gold: #eaca15;
    --txt-gold: #000000;
    --bg-silver-hover: #b8b8b8;
    --bg-silver: #999999;
    --txt-silver: #000000;
    --bg-bronze-hover: #c7aa8c;
    --bg-bronze: #c99b6d;
    --txt-bronze: #000000;

    --h1-color: rgb(84, 159, 180);
}

body{
    background: #fefefe
}

h1{
    color: var(--h1-color);
    text-shadow: 1px 1px 0px #000;
}

.gold{
    background-color: var(--bg-gold) !important;
    color: var(--txt-gold) !important;
    font-weight: 700;
}

.gold:hover{
    background-color: var(--bg-gold-hover) !important;
}

.silver{
    background-color: var(--bg-silver) !important;
    color: var(--txt-silver) !important;
    font-weight: 600;
}

.silver:hover{
    background-color: var(--bg-silver-hover) !important;
}


.bronze{
    background-color: var(--bg-bronze) !important;
    color: var(--txt-bronze) !important;
    font-weight: 500;
}

.bronze:hover{
    background-color: var(--bg-bronze-hover) !important;
}


.mt-50{
    margin-top: 50px;
}

.mt-20{
    margin-top: 20px;
}

.ml-30{
    margin-left: 30px;
}

.size-50{
    width: 250px;
}

table > tbody > tr:hover{
    background-color: #bedadf;    
}

.show-header{
    font-size: 16px;
    border-bottom: 1px solid #dee2e6;
    text-align: left;
    margin-bottom: 10px;
}

.grid-table{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 5px;
  }
  
  .grid-item{
    background: #555;
    padding: 10px;
    color: white;
  }
  
  .grid-item:hover{
    background: #f0f0f0;
    color: #555;
    cursor: pointer;
  }

  .table-item{
    background: #555;
    color: white;
  }
  
  .table-item:hover{
    background: #f0f0f0;
    color: #555;
  }

  .input-player{
    height: 40px;
    border: 1px solid #adadad;
    padding: 5px;
    padding-bottom: 8px;
    width: 150px;
    margin-top: 10px;
    padding-left: 9px;
  }

  .lds-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 6px;
    border-radius: 50%;
    background: var(--bg-gold);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  